JavaWebClient/xml-resources/web-service-references/PosTaggerRoWS/wsdl/nlptools.infoiasi.ro_80/WebPosRo/PosTaggerRoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://webPosRo.uaic/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webPosRo.uaic/">

<xs:element name="parseSentence_TXT" type="tns:parseSentence_TXT" />

<xs:element name="parseSentence_TXTResponse" type="tns:parseSentence_TXTResponse" />

<xs:element name="parseSentence_XML" type="tns:parseSentence_XML" />

<xs:element name="parseSentence_XMLResponse" type="tns:parseSentence_XMLResponse" />

<xs:element name="parseText_TXT" type="tns:parseText_TXT" />

<xs:element name="parseText_TXTResponse" type="tns:parseText_TXTResponse" />

<xs:element name="parseText_XML" type="tns:parseText_XML" />

<xs:element name="parseText_XMLResponse" type="tns:parseText_XMLResponse" />

<xs:complexType name="parseText_XML">
<xs:sequence>
<xs:element name="rawTextInput" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parseText_XMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parseSentence_XML">
<xs:sequence>
<xs:element name="rawSentenceInput" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parseSentence_XMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parseText_TXT">
<xs:sequence>
<xs:element name="rawTextInput" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parseText_TXTResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parseSentence_TXT">
<xs:sequence>
<xs:element name="rawSentenceInput" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parseSentence_TXTResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>