pentru QA/src/META-INF/wsdl/nlptools.info.uaic.ro_80/WebNpChunkerRo/NpChunkerRoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://webNpChunkerRo.uaic/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webNpChunkerRo.uaic/">

<xs:element name="chunkTaggedText" type="tns:chunkTaggedText" />

<xs:element name="chunkTaggedTextResponse" type="tns:chunkTaggedTextResponse" />

<xs:element name="chunkText" type="tns:chunkText" />

<xs:element name="chunkTextResponse" type="tns:chunkTextResponse" />

<xs:complexType name="chunkTaggedText">
<xs:sequence>
<xs:element name="taggedXml" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="chunkTaggedTextResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="chunkText">
<xs:sequence>
<xs:element name="inputText" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="chunkTextResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>